/*
CSS RESET
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
}

select {
    margin-right: 20px;
    overflow-y: auto;
    text-align: center;
    width: 55px;
}

.defaultspan {
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
}

.sceneheader {
    width: 1000px;
    height: fit-content;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
}

.gamediv {
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
}

.scenefooter {
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
}

.scenequestlogdiv {
    width: fit-content;
    height: fit-content;
    background-color: blueviolet;
    border-style: double;
    border-width: 5px;
}
