# ----------------------------------------------------------------------
# -- Character encodings
#
#    https://httpd.apache.org/docs/2.4/mod/core.html#page-header
# ----------------------------------------------------------------------

AddDefaultCharset utf-8


# ----------------------------------------------------------------------
# -- Server Signature
#
#    https://httpd.apache.org/docs/current/mod/core.html#serversignature
# ----------------------------------------------------------------------

ServerSignature Off


# ------------------------------------------------------------------------------
# -- Disable Indexes
#
#    https://httpd.apache.org/docs/2.4/mod/core.html#page-header
# ------------------------------------------------------------------------------

Options -Indexes


# ------------------------------------------------------------------------------
# -- Directory index
#
#    https://httpd.apache.org/docs/2.4/mod/mod_dir.html#page-header
# ------------------------------------------------------------------------------

DirectoryIndex index.php
